{
    "general": {
        "game_name"        : "Boxing-v0",
        "state_shape"      : [64, 64, 3],
        "crop_range"       : "[30:183, 28:131, :]"
    },
    "vae_training": {
        "batch_size"       : 256,
        "latent_space_dim" : 16,
        "epochs"           : 300,
        "learning_rate"    : 0.001,
        "patience"         : 5,
        "ckpt_path"        : "./checkpoints_n_logs/best_vision.ckpt",
        "logs_dir"         : "./checkpoints_n_logs"
    },
    "rnn_training": {
        "batch_size"       : 16,
        "sequence_len"     : 500,
        "hidden_units"     : 256,
        "n_gaussians"      : 5,
        "temperature"      : 1.15,
        "epochs"           : 300,
        "learning_rate"    : 0.01,
        "patience"         : 25,
        "ckpt_path"        : "./checkpoints_n_logs/best_memory.ckpt",
        "logs_dir"         : "./checkpoints_n_logs"
    },
    "es_training": {
        "epochs"           : 300,
        "popsize"          : 64,
        "n_episodes"       : 5,
        "processes"        : -1,
        "l2_decay"         : 0.01,
        "ckpt_path"        : "./checkpoints_n_logs/best_controller.ckpt",
        "logs_dir"         : "./checkpoints_n_logs"
    }
}
