{
    "vae_training": {
        "batch_size"       : 256,
        "ckpt_path"        : "./checkpoints_n_logs/best_vision.ckpt",
        "epochs"           : 100,
        "latent_space_dim" : 16,
        "learning_rate"    : 0.001,
        "logs_dir"        : "./checkpoints_n_logs",
        "patience"         : 3
    }
}