{
    "vae_training": {
        "batch_size"       : 128,
        "ckpt_path"        : "./checkpoints/best_vision.ckpt",
        "epochs"           : 100,
        "latent_space_dim" : 32,
        "learning_rate"    : 0.001,
        "patience"         : 10
    }
}